@import '../../styles/globals.scss';
@import '../../styles/colors.scss';

.modal{
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;

    .modal-content{
        background: $white;
        border-radius: $sm;
        position: relative;

        .cross{
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}