@import '../../styles/globals.scss';
@import '../../styles/colors.scss';

.menu-icon{
    margin-top: 7px;
    height: 30px;
    width: 30px;
    z-index: 10;
}

.black-box{
    position: absolute;
    right: 50px;
    background: black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    z-index: 0;
}

.cart-container{
    position: absolute;
    top: 60px;
    right: -400px;
    background: #fff;
    height: 100vh;
    width: 400px;
}