@import '../../styles/globals.scss';
@import '../../styles/colors.scss';


.order-summary-container{

    .back{
        cursor: pointer;
        text-decoration: underline;
        text-transform: uppercase;
    }

}