@import '../../styles/globals.scss';
@import '../../styles/colors.scss';

.item-card-container{

    .card-image{
        width: 300px;
        height: 300px;
        background: $gray-1
    }

    .item-info{
        color: $primary;
    }

    .add-to-cart{
        color: $white;
    }
}

.item-card-container:hover{
    border: 1px solid $black;
}